@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;700&display=swap');

$font:'Source Sans 3', sans-serif;


$font-vss:0.5rem; //8px
$font-vs:0.625rem; //10px
$font-xs: 0.75rem; //12px
$font-sm: 0.875rem; //14px
$font-md: 1rem; //16px
$font-lg: 1.125rem; //18px
$font-xl: 1.25rem; //20px
$font-xxl: 1.5rem; //24px
$font-xxxl: 1.875rem; //30px
$font-xxxxl: 2.25rem; //36px
$font-xxxxxl:2.625rem; //42px
$font-big:48px;


$color-white: #fff;
$color-black: #000;
$color-gradient: linear-gradient(to right, #D53369, #DAAE51);
$color-yellow:#DAAE51;
$color-pink:#EC4899;
$color-gray:#4B5563;
$color-leigtgray:#E5E7EB;
$color-grayl:#6B7280;
